# NumCalc build files
mesh2scattering/NumCalc/src/*.o
mesh2scattering/NumCalc/bin/NumCalc
mesh2scattering/NumCalc/bin/*.dll
mesh2scattering/NumCalc/bin/*.exe

# Python cach and install files
*__pycache__
.eggs/*
*.egg-info/*

# Other application specific files
.vscode
*.asv

# Sphinx
docs/_build

# temporary test files
tests/resources/install_addons.py
/.eggs/
/.pytest_cache/

# ignore Mac stuff
*.DS_Store
