# NumCalc build files
mesh2hrtf/NumCalc/src/*.o
mesh2hrtf/NumCalc/bin/NumCalc

# Python cach and install files
*__pycache__
.eggs/*
*.egg-info/*

# Other application specific files
.vscode
*.asv

# Sphinx
docs/_build

# temporary test files
tests/resources/install_addons.py
/.eggs/
/.pytest_cache/
