pip
wheel
watchdog
numpy
flake8
tox
Sphinx
twine
psutil
coverage
pytest
pytest-runner
pytest-cov
nbmake>=0.7.0
scipy
autodocsumm
insipid-sphinx-theme
pyfar>=0.5.0
sofar
git+https://github.com/pyfar/imkar.git@scattering-freefield
trimesh
